<div class="footer pt-4 pb-4">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-sm-6 text-sm-left">
        &copy; 2019 <a href="/">createthink.net</a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://coderlane.net">在线编程工具</a>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div>
</div>