<div class="header <%= local_assigns[:class] %>">
  <div class="container">
    <nav class="pl-0 pr-0 navbar navbar-expand-lg navbar-light justify-content-between">
      <a class="navbar-brand" href="/">CREATETHINK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link pl-3 pr-3" href="/">主页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to '博客', articles_path, class: 'nav-link pl-3 pr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to '联系', '/contact', class: 'nav-link pl-3 pr-3' %>
          </li>
          <li class="nav-item">
            <%= link_to '编程工具', 'https://coderlane.net', target: "_blank", class: 'nav-link pl-3 pr-3' %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>