<%= render "shared/header"%>
<div class="hero hero--mask">
  <div class="container">
    <div class="row">
      <div class="hero__heading col-lg-6 col-md-7">
        <h1>创造&实现商业计划</h1>
        <p className="text-secondary mt-4">CREATETHINK为您提供定制的设计、开发服务, 同时注重制作移动优先的WEB、H5和小程序。根据您的需要量身定义最合适的系统。</p>
        <div>
          <a href="/contact" className="btn btn-green text-white mt-4">免费咨询</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/split", style: "color: white" %>
<h1>Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>
<a href="/">a link</a>