
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>收到新的消息</h1>
<p>
  消息标题：<%= @contact.title %>
</p>
<p>
  消息内容：<%= @contact.content %>
</p>
<p>
  姓名：<%= @contact.name %>
</p>
<p>
  邮箱：<%= @contact.email %>
</p>
</body>
</html>